<script src="/socket.io/socket.io.js"></script>
<div class="jumbotron">
            <h1>Centro de Mensajes (Compresi칩n: <span id="compresion-info"></span>%)</h1>
            <br>
            <input type="text" id="username" class="form-control w-50 my-2 mr-2" placeholder="Ingres치 tu email">
            <input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="Ingres치 tu nombre">
            <input type="text" id="tipo" class="form-control w-50 my-2 mr-2" placeholder="System o Usuario">
            <hr>

            <hr>

            <div id="chat">

                 {{#each message}}
          
                <div>
                <strong>${this.author}</strong>
                <em> ${this.mensaje}
                </div>
             {{/each}}
            </div>
            <form onsubmit="return addMessage(this)" class="form-inline" autocomplete="off">
                <div class="form-group">
                    <input id="inputMensaje" type="text" class="form-control my-2 mr-2"
                        placeholder="Ingres치 un mensaje...">
                    <button id="btnEnviar" type="submit" class="btn btn-primary my-2">Enviar!</button>
                </div>
            </form>
        </div>
         <script src="/js/main.js"></script>
     